.cade{
       transition: transform 0.3s ease-in;
       transition-duration: 0.4s;
}
.cade:hover{
        transform: rotate(5deg);
         transition: 2;
         animation: 5px;
        
}
/* card hover animation */
.cardbody{
       position: relative;
       /* width: 100%;
       height: 100%; */
       overflow: hidden;
       border-radius: 20px;
       transition: all 1s;
    }
    .offer{
       position: absolute;
       top:  0;
       left: -50%; 
    }
    .cardbody:hover .offer{
       left: 10px;
       transition: 1s;
       
        
    }
    .cardbody:hover{ 
       transition: 1s;
       transform: scale(1.1);
        
    }
     